@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .name {
    padding-top: 5vh;
  }
  .footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .comp {
    padding-bottom: 5vh;
  }
  .left {
    order: 2;
    padding-top: 10vh;
    width: 100%;
    padding-bottom: 1vh;
  }
  .central {
    order: 1;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1vh;
    margin-top: 40vh;
  }
  .right {
    order: 3;
    padding-top: 10vh;
    width: 100%;
  }
  .photo {
    top: 29%;
    width: 35%;
    left: 33%;
  }
  #github {
    top: 5%;
    left: 5%;
  }
  #javascript {
    top: 5%;
    right: 5%;
  }
  #plongee {
    left: 33%;
    top: 20%;
  }
  #palmes {
    top: 20%;
    right: 31%;
  }
  #groupe {
    top: 30%;
  }
  #web {
    top: 30%;
  }
  #mobile {
    top: 4%;
    right: 25%;
  }
  #bootstrap {
    top: 4%;
    left: 25%;
  }
  #html {
    top: 14%;
    left: 15%;
  }
  #mac {
    top: 14%;
    right: 15%;
  }
  #node {
    top: 8%;
    left: 43%;
  }
  #resoudre {
    display: none;
  }
  #api {
    display: none;
  }
  .comp h2 {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
  .logo-part img {
    padding-bottom: 2vh;
  }
  .competence {
    padding-bottom: 1vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 23%;
  }
  .left {
    padding-top: 60%;
  }
  .right {
    padding-top: 60%;
  }
  .central {
    margin-top: 50%;
  }
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 26%;
  }
  .left {
    padding-top: 60%;
  }
  .right {
    padding-top: 60%;
  }
  .central {
    margin-top: 50%;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 22%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 45%;
  }
  .central {
    margin-top: 40%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 24%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 45%;
  }
  .central {
    margin-top: 40%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 25%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 45%;
  }
  .central {
    margin-top: 40%;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 25%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 45%;
  }
  .central {
    margin-top: 37%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 25%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 45%;
  }
  .central {
    margin-top: 35%;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 30%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}

@media screen and (min-width: 2501px) and (max-width: 2800px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 33%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}
@media screen and (min-width: 2801px) {
  .photo {
    width: 23%;
    left: 39%;
    top: 33%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 27%;
  }
}

/*------------------------------------------------------------------------------------------------
  ----------------------- IPHONE, IPAD LANDSCAPE ---------------------------------------------------
  ------------------------------------------------------------------------------------------------*/

/* Landscape Iphone 11 */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .photo {
    width: 23%;
    left: 39%;
    top: 33%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}

/* Landscape  Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .photo {
    width: 23%;
    left: 39%;
    top: 33%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .photo {
    width: 23%;
    left: 39%;
    top: 28%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .photo {
    width: 23%;
    left: 39%;
    top: 28%;
  }
  .left {
    padding-top: 35%;
  }
  .right {
    padding-top: 35%;
  }
  .central {
    margin-top: 30%;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .photo {
    width: 23%;
    left: 39%;
    top: 28%;
  }
  .left {
    padding-top: 45%;
  }
  .right {
    padding-top: 10%;
  }
  .central {
    margin-top: 10%;
  }
}
